<section>
  <div>
    <div class="service-class">
      <p
        style="
          text-align: center;
          font-size: xx-large;
          font-weight: 600;
          padding-bottom: 10px;
        "
      >
        Des Préferences ?
      </p>
      <div class="lorem-class">
        <div class="class-text">
          <p class="paragraph-class">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula aenean massa.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="prefer-class">
      <div style="width: 36%; padding-top: 50px">
        <div>
          <!-- component -->
          <div
            class="relative mx-4 -mt-6 h-56 overflow-hidden rounded-xl bg-slate-300 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40"
          >
            <!-- <img
                                    src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80"
                                    alt="img-blur-shadow"
                                    layout="fill"
                                    /> -->
            <button
              class="select-none rounded-lg bg-pink-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              data-ripple-light="true"
            >
              Read More
            </button>
          </div>
        </div>
      </div>

      <div style="width: 36%; padding-top: 50px">
        <div>
          <!-- component -->
          <div
            class="relative mx-4 -mt-6 h-56 overflow-hidden rounded-xl bg-slate-300 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40"
          >
            <!-- <img
                                    src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80"
                                    alt="img-blur-shadow"
                                    layout="fill"
                                    /> -->
            <button
              class="select-none rounded-lg bg-pink-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              data-ripple-light="true"
            >
              Read More
            </button>
          </div>
        </div>
      </div>

      <div style="width: 36%; padding-top: 50px">
        <div>
          <!-- component -->
          <div
            class="relative mx-4 -mt-6 h-56 overflow-hidden rounded-xl bg-slate-300 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40"
          >
            <!-- <img
                                src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80"
                                alt="img-blur-shadow"
                                layout="fill"
                                /> -->
            <button
              class="select-none rounded-lg bg-pink-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              data-ripple-light="true"
            >
              Read More
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="prefer-class">
      <div style="width: 36%; padding-top: 50px">
        <div>
          <!-- component -->
          <div
            class="relative mx-4 -mt-6 h-56 overflow-hidden rounded-xl bg-slate-300 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40"
          >
            <!-- <img
                                src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80"
                                alt="img-blur-shadow"
                                layout="fill"
                                /> -->
            <button
              class="select-none rounded-lg bg-pink-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              data-ripple-light="true"
            >
              Read More
            </button>
          </div>
        </div>
      </div>

      <div style="width: 36%; padding-top: 50px">
        <div>
          <!-- component -->
          <div
            class="relative mx-4 -mt-6 h-56 overflow-hidden rounded-xl bg-slate-300 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40"
          >
            <!-- <img
                                src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80"
                                alt="img-blur-shadow"
                                layout="fill"
                                /> -->
            <button
              class="select-none rounded-lg bg-pink-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              data-ripple-light="true"
            >
              Read More
            </button>
          </div>
        </div>
      </div>

      <div style="width: 36%; padding-top: 50px">
        <div>
          <!-- component -->
          <div
            class="relative mx-4 -mt-6 h-56 overflow-hidden rounded-xl bg-slate-300 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40"
          >
            <!-- <img
                            src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80"
                            alt="img-blur-shadow"
                            layout="fill"
                            /> -->
            <button
              class="select-none rounded-lg bg-pink-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              data-ripple-light="true"
            >
              Read More
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
