<div>
  <div class="service-class">
    <p style="text-align: center; font-size: xx-large; font-weight: 600">
      Nos services
    </p>
  </div>
  <div class="container-class w-full p-4 sm:w-1/2 md:w-1/4 lg:w-1/6">
    <div class="service1">
      <div
        class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-6 max-w-xs transition duration-300 ease-in hover:bg-gray-100 hover:scale-90 hover:shadow-xl"
      >
        <img
          class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto"
          src="https://solidarites.gouv.fr/sites/solidarite/files/2022-12/logo-ameliorer-laccompagnement-grace-aux-referents-de-parcours.jpg"
          alt="product designer"
        />
        <h3 class="text-lg text-gray-700">Accompagnement</h3>
        <p class="text-xs text-gray-400 mt-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit...
        </p>
        <button
          class="bg-indigo-600 px-8 py-2 mt-8 rounded-3xl text-gray-100 font-semibold uppercase tracking-wide hover:bg-indigo-700 hover:scale-105"
        >
          Trouver
        </button>
      </div>
    </div>

    <div class="service1">
      <div
        class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-6 max-w-xs transition duration-300 ease-in hover:bg-gray-100 hover:scale-90 hover:shadow-xl"
      >
        <img
          class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto"
          src="https://www.capeb.fr/www/capeb/media/marne/image/Aides%20financieres.jpg"
          alt="product designer"
        />
        <h3 class="text-lg text-gray-700">Aide financiere</h3>
        <p class="text-xs text-gray-400 mt-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit...
        </p>
        <button
          class="bg-indigo-600 px-8 py-2 mt-8 rounded-3xl text-gray-100 font-semibold uppercase tracking-wide hover:bg-indigo-700 hover:scale-105"
        >
          Consulter
        </button>
      </div>
    </div>

    <div class="service1">
      <div
        class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-6 max-w-xs transition duration-300 ease-in hover:bg-gray-100 hover:scale-90 hover:shadow-xl"
      >
        <img
          class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto"
          src="https://storage.googleapis.com/is-wp-98-preprod/uploads-preprod/2023/02/logo-S3A-1024x1024.png"
          alt="product designer"
        />
        <h3 class="text-lg text-gray-700">Transport</h3>
        <p class="text-xs text-gray-400 mt-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit...
        </p>
        <button
          class="bg-indigo-600 px-8 py-2 mt-8 rounded-3xl text-gray-100 font-semibold uppercase tracking-wide hover:bg-indigo-700 hover:scale-105"
        >
          Organiser
        </button>
      </div>
    </div>

    <div class="service1">
      <div
        class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-6 max-w-xs transition duration-300 ease-in hover:bg-gray-100 hover:scale-90 hover:shadow-xl"
      >
        <img
          class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto"
          src="https://static.wixstatic.com/media/cd54eb_7e33b326677d4a3a88c9459586a7213b~mv2.jpg/v1/fill/w_640,h_460,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/cd54eb_7e33b326677d4a3a88c9459586a7213b~mv2.jpg"
          alt="product designer"
        />
        <h3 class="text-lg text-gray-700">Ménages</h3>
        <p class="text-xs text-gray-400 mt-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit...
        </p>
        <button
          class="bg-indigo-600 px-8 py-2 mt-8 rounded-3xl text-gray-100 font-semibold uppercase tracking-wide hover:bg-indigo-700 hover:scale-105"
        >
          Reserver
        </button>
      </div>
    </div>
  </div>
  <logpmr-card-rate></logpmr-card-rate>
  <div></div>
</div>
