<!-- Header Component -->
<div class="bg-white w-full box-border">
  <div class="flex justify-between items-center p-4">
    <!-- Logo Section -->
    <button class="flex items-center" (click)="redirectToHome()">
      <span class="text-3xl font-bold underline">Logo</span>
    </button>

    <!-- Navigation Links -->
    <nav
      style="justify-content: center; width: 40%"
      class="hidden md:flex md:items-center md:w-auto w-4/6"
      id="menu"
    >
      <ul
        style="width: 100%"
        class="md:flex items-center justify-between text-base text-gray-700 pt-4 md:pt-0"
      >
        <li>
          <a
            href="#page1"
            class="md:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-600"
            >Page1</a
          >
        </li>
        <li>
          <a
            href="#page2"
            class="md:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-600"
            >Page2</a
          >
        </li>
        <li>
          <a
            href="#page3"
            class="md:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-600"
            >Page3</a
          >
        </li>
        <li>
          <a
            href="#page4"
            class="md:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-600"
            >Page4</a
          >
        </li>
      </ul>
    </nav>

    <!-- Search Input -->
    <div
      style="margin-right: 15px"
      class="relative text-gray-600 md:block hidden"
    >
      <input
        type="search"
        name="serch"
        placeholder="Search"
        class="bg-white h-10 px-5 rounded-full text-sm focus:outline-none"
      />
      <button type="submit" class="absolute right-0 top-0 mt-2.5 mr-4">
        <svg
          class="h-4 w-4 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          id="Capa_1"
          x="0px"
          y="0px"
          viewBox="0 0 56.966 56.966"
          style="enable-background: new 0 0 56.966 56.966"
          xml:space="preserve"
          width="512px"
          height="512px"
        >
          <path
            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
          />
        </svg>
      </button>
    </div>

    <!-- Connexion Button -->
    <div class="relative flex justify-end items-center">
      <button
        class="bg-gradient-to-br from-gray-700 to-gray-800 text-white py-2 px-6 rounded-full shadow-lg transform transition duration-300 ease-out hover:scale-105"
        (click)="redirectToLogin()"
      >
        Connexion
      </button>
    </div>

    <!-- Mobile Menu Button -->
    <button class="md:hidden flex items-center" type="button">
      <svg
        class="h-4 w-4 fill-current"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        id="Capa_1"
        x="0px"
        y="0px"
        viewBox="0 0 56.966 56.966"
        style="enable-background: new 0 0 56.966 56.966"
        xml:space="preserve"
        width="512px"
        height="512px"
      >
        <path
          d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
        />
      </svg>
    </button>
  </div>
</div>
