.section-class {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%
}

.section1 {
    background: linear-gradient(99.47deg, #D7EBFF 22.21%, rgba(255, 255, 255, 0) 82.94%);
}

button {
    background-color: rgba(63, 81, 181, 1);
}