<section class="section-class">
  <div class="container">
    <div class="section1 rounded-xl flex justify-between items-center p-8">
      <!-- Colonne de gauche pour le formulaire -->
      <div class="flex flex-col items-start space-y-4">
        <div style="width: 78%; text-align-last: auto">
          <h2
            style="
              text-align: justify;
              font-size: xx-large;
              font-weight: 600;
              padding-bottom: 10px;
            "
          >
            Connectons-nous par mail
          </h2>
        </div>
        <input
          type="text"
          placeholder="Votre e-mail"
          class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 disabled:bg-gray-50 disabled:text-gray-500 disabled:border-gray-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500"
        />
        <button
          class="text-white px-6 py-2 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
          Valider
        </button>
      </div>
      <!-- Colonne de droite pour l'image -->
      <div class="p-4 border-2 border-dashed border-gray-300 rounded-lg w-1/2">
        <div class="flex items-center justify-center h-full">
          <!-- Ici, vous pouvez ajouter votre image ou laisser le placeholder -->
          <span class="text-gray-500">Image Placeholder</span>
        </div>
      </div>
    </div>
  </div>
</section>
