.prefer-class {
    width: 100%;
    text-align: -webkit-center;
    padding-bottom: 10px;
}

.container {
    max-width: 100%;
    padding-bottom: 2%;
    text-align: -webkit-center;
}

.section {
    display: flex;
    justify-content: space-around;
}